[Desktop Entry]
Name=Joplin
Comment=The free and private note taking app
Exec=joplin-desktop %u
Icon=${SNAP}/meta/gui/joplin-desktop.svg
Type=Application
Categories=Office;
StartupWMClass=@joplin/app-desktop
MimeType=x-scheme-handler/joplin;
SingleMainWindow=true
