[Desktop Entry]
Name=Joplin
Comment=The free and private note taking app
Exec=joplin-james-carroll.joplin
Icon=joplin-desktop
Type=Application
Categories=Office;
StartupWMClass=Joplin
